html {
    position: relative;
    min-height: 100%;
}

#usr-tbl-div {
    width: 80%;
    margin: 0px auto;
}

#center-div {
    margin: 0px auto;

}

/*-----------------
 Logo
 -------------------*/



.logo{
    width: 30%;
}

/*---------------------
    Home - Divs
------------------- */
.each-div-option{
    width: 500px;
    float: left;
    margin-right: 70px;
}

.div-option-text{
    float: right;
    width: 260px;
    margin-right: 50px;
    height: 175px;
    overflow: hidden;
    margin-top: -10px;
    color: darkslateblue;
    font-size: 30px;
    font-style: oblique;
}

.div-option-dd{
    height: 185px;
    background: linear-gradient(rgba(212, 212, 212, 0.73), rgb(255, 255, 255));
    -webkit-border-radius: 11px;
}

/*------------------
  Canvas
-----------------*/
.myCanvas {
    margin: 20px 0px -35px 0px;
}

/*------------------
  Search
-----------------*/
.search-tbl-header{
    background: linear-gradient(to right, rgba(21, 102, 121, 0.82), rgba(255, 255, 255, 0));
    -webkit-border-radius: 20px;
    max-width: 1070px;
}

.search-tbl {
    width:100%;
    table-layout: fixed;
}

.search-tbl-th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.search-box{
    -webkit-border-radius: 5px;
    height:30px;
    padding-left: 7px;
    max-width: 400px;
    font-size: 16px;
}

.search-btn{
    color: #ffffff;
    background-color: #49b1bf;
    border-color: #287486;

    color:aliceblue;
}

.search-drp-dwn{
    -webkit-border-radius: 5px;
    height:30px;
    padding-left: 3px;
    width: 120%;
    font: 16px Arial;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    color: gray;
}



/*------------------------------
=FOOTER
------------------------------*/



footer {
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222;

}

footer div {
    display: table;
    margin: 0 auto;
    padding: 44px 0;
    width: 940px;
    color: #777;
}


footer div section {
    display: table-cell;
    width: 300px;
}

footer div #about, footer div #blogroll {
    padding-right: 40px;
}

footer h3 {
    color: #FFF;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #FFF;
    text-decoration: none;
}

footer ul {
    margin: 0 0 0 40px;
    list-style: square;
    color: #565656;
}

footer ul li a {
    display: block;
}
