/*html {*/
/*position: relative;*/
/*min-height: 100%;*/
/*}*/

/*.content {*/
/*!*margin: auto;*!*/
/*!*width: 70%;*!*/
/*!*padding: 10px;*!*/
/*max-width: 1170px;*/
/*}*/


.page-wrapper{
    position:relative;
    /*margin: auto;*/
    width: 70%;
    margin: 3% auto 5% auto;
    /*padding: 10px;*/
    /*max-width: 1170px;*/
}

#usr-tbl-div {
    overflow: auto;
}

#center-div {
    margin: 0px auto;

}

.map-tbl{
    margin: auto;
}

.map-tbl-td{
    padding-right: 5%;
}

/*.ff-text {*/
    /*font-family: myFirstFont;*/
/*}*/

.wrapper {
    position: relative;
    background-color: #f5f5f5;
    color: #808080;
    text-align: center;
}
.counter {
    padding: 10px 0;
    border-radius: 5px;
}
.count-title {
    font-size: 30px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center; }
.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
}
.fa-2x {
    float: none;
    display: table;
    color: #66e2a4;
}

.hdr-tbl{
    width: 100%;

}



/*-----------------
 Logo
 -------------------*/

.logo{
    width: 60%;
}

/*---------------------
    Home - Divs
------------------- */
.each-div-option{
    width: 500px;
    float: left;
    margin-right: 70px;
}

.div-option-text{
    float: right;
    width: 260px;
    margin-right: 50px;
    height: 175px;
    overflow: hidden;
    margin-top: -10px;
    color: darkslateblue;
    font-size: 30px;
    font-style: oblique;
}

.div-option-dd{
    height: 185px;
    background: linear-gradient(rgba(212, 212, 212, 0.73), rgb(255, 255, 255));
    -webkit-border-radius: 11px;
}

/*------------------
  Canvas
-----------------*/
.myCanvas {
    margin: 20px 0px -35px 0px;
}

/*------------------
  Search
-----------------*/
.search-tbl-header{
    background: linear-gradient(to right, rgb(100, 224, 162), rgba(255, 255, 255, 0));
    -webkit-border-radius: 20px;
    max-width: 1070px;
    margin-top: 3%;
}

.search-tbl {
    margin-bottom: 3%;
    width:100%;
    table-layout: fixed;
}

.search-tbl-th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.search-box{
    -webkit-border-radius: 5px;
    height:30px;
    padding-left: 7px;
    max-width: 400px;
    font-size: 16px;
}

.search-btn{
    color: #fff;
    background-color: #4ad38b;
    border-color: #214e37;
}

.search-drp-dwn{
    -webkit-border-radius: 5px;
    height:30px;
    padding-left: 3px;
    width: 120%;
    font: 16px Arial;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    color: gray;
}



/*------------------------------
=FOOTER
------------------------------*/

footer {
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222;

}

footer div {
    display: table;
    margin: 0 auto;
    padding: 44px 0;
    width: 940px;
    color: #777;
}


footer div section {
    display: table-cell;
    width: 300px;
}

footer div #about, footer div #blogroll {
    padding-right: 40px;
}

footer h3 {
    color: #FFF;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #FFF;
    text-decoration: none;
}

footer ul {
    margin: 0 0 0 40px;
    list-style: square;
    color: #565656;
}

footer ul li a {
    display: block;
}

/****************
  Articles
**************/
.each-top-five{
    width: 500px;
    float: right;
    margin-right: 70px;
}

.five-article-text{
    float: right;
    width: 280px;
    margin-right: 10px;
    height: 168px;
    overflow: hidden;
    color: darkslateblue;
}

.top-five-dd{
    text-align: right;
    height: 185px;
    background: linear-gradient(rgba(212, 212, 212, 0.73), rgb(255, 255, 255));
    -webkit-border-radius: 11px;
}

.Details-content{
    display: table;
}

.main-content{
    display:table-cell;
}

