
<table>
    <tr>
        <td>
            <iframe src="https://s.mconvert.net/get-exchange-rates-widget?base=ils&amount=1&lang=en&curr=usd,aud,cad,chf,eur,hkd,jpy&theme=blue&type=1&font=1&ssl=2" width="100%" height="328" frameborder="0" scrolling="no">

            </iframe>
            <div style="font-size:12px;font-family:arial;text-align:right;"><a href="http://mconvert.net/" style="text-decoration:none;color:#999;">Currency converter</a>
            </div>
        </td>
        <td>
            <iframe src="http://mconvert.net/get-converter-widget?from=usd&to=eur&lang=en&theme=blue&font=1&ssl=1" width="100%" height="300" frameborder="0" scrolling="no">

            </iframe>
            <div style="font-size:12px;font-family:arial;text-align:right;">
                <a href="http://mconvert.net/" style="text-decoration:none;color:#999;">Currency converter</a>
            </div>
        </td>
    </tr>
</table>