<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <title>Money Adviser</title>
</head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.js"></script>
    <script src="./javascript/appRoute.js"></script>
    <script src="./javascript/controllers.js"></script>
    <script src="./javascript/services.js"></script>

    <script src="./lib/angular-route.js"></script>
    <script src="./lib/angular-animate.js"></script>
    <script src="./lib/angular-touch.js"></script>
    <script src="./lib/angular-cookies.js"></script>
    <script src="./lib/socket.io.js"></script>
    <script src="./css/sweetalert2/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="./css/sweetalert2/dist/sweetalert2.min.css">

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>

    <!--Graph-->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!--Style the nav-->
    <link rel="stylesheet" href="./stylesheets/styleNav.css">

    <!--Font Awesome Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!--<body ng-controller="userCtrl" ng-view>-->
<body ng-app="myeApp" ng-controller="userCtrl">


    <!--nav bar-->
    <nav class="navbar navbar-toggleable navbar-default navbar-light">
        <!--Logo-->
        <h1 class="logo">
            <a href="#!/home">
                <img src="./images/logo6.png" class="logo">
            </a>
        </h1>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            <ul class="navbar-nav mr-auto main-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#!/home"> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/myTransactions">Transactions</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="#!/He&She">He & She</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/barchart">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/about">About</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <a ng-show="!connected" class="nav-link" href="#!/register">Register</a>
                </li>
                <li class="nav-item active">
                    <a ng-show="!connected" class="nav-link" href="#!/login">Login</a>
                </li>

                <li class="nav-item active dropdown" ng-show="connected">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ currentUser.firstName }} {{ currentUser.lastName }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#!/userDetail">Profile</a>
                        <a class="dropdown-item" href="#!/upload">Add Transactions</a>
                        <a class="dropdown-item" ng-show="currentUser.role === 'admin'" href="#!/users">Manage Users</a>
                        <a class="dropdown-item" ng-click="logout()" href="#!/logout">Logout</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
</header>

<div class="page-wrapper">
    <div ng-view></div>
</div>


<!--Controllers-->
<script src="./javascript/controllers.js"></script>

<!--Services-->
<script src="./javascript/services.js"></script>
<script src="./javascript/directives.js"></script>

</body>

</html>