<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.js"></script>
    <script src="./javascript/appRoute.js"></script>
    <script src="./javascript/controllers.js"></script>
    <script src="./javascript/services.js"></script>
    <title>Best website ever</title>


    <script src="./lib/angular-route.js"></script>
    <script src="./lib/angular-animate.js"></script>
    <script src="./lib/angular-touch.js"></script>
    <script src="./lib/angular-cookies.js"></script>

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>



    <!--Graph-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    </head>


    <!--<body ng-controller="userCtrl" ng-view>-->
    <body ng-app="myeApp" ng-controller="userCtrl">

        <h1 id="fh5co-logo"><a href="http://localhost:5000/#!/home"><img src="./images/logo.png" class="logo"></a></h1>

        <nav class="navbar navbar-toggleable navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#!/users">Users<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!/branches">Branches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!/transactions">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!/map">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!/graph">Statistics</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item active">
                        <a ng-if="!connected" class="nav-link" href="#!/login">Login<span class="sr-only">(current)</span></a>
                        <a ng-if="connected" class="nav-link"  href="#!/logout">Hello {{currentUser.firstName}}<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a ng-if="!connected" class="nav-link" href="#!/register">Register<span class="sr-only">(current)</span></a>
                        <a ng-if="connected" class="nav-link" ng-click="logout()" href="#!/logout">Logout<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        </br></br>
        <!-- inject our views using ng-view -->
        <!-- each angular controller applies a different class here -->



        <div ng-view></div>




        </br></br>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <section id="about">
                    <h3>About</h3>
                    <p>
                        In this website you can find articles about surfing and surfers.
                        Also Information of the top surfers beaches
                    </p>
                </section>
                <section id="Creators">
                    <h3>Creators</h3>
                    <ul>
                        <li>Ravid Nagar</li>
                        <li>Yuval Shalev</li>
                        <li>Shany Natan</li>
                    </ul>
                </section>
            </div>
        </footer>

        <!--Controllers-->
        <script src="./javascript/controllers.js"></script>

        <!--Services-->
        <script src="./javascript/services.js"></script>

    </body>
</html>