<canvas class="myCanvas" id="myCanvas" width="850" height="50">
    Your browser does not support the canvas element.
</canvas>
<script>
    var canvas = document.getElementById("myCanvas");
    var ctx=canvas.getContext("2d");
    ctx.font = "30px Palatino Linotype";

    // Create gradient
    var grd = ctx.createLinearGradient(0, 500, 1100, 0);
    grd.addColorStop(0, "MidnightBlue");
    //grd.addColorStop(1, "DeepSkyBlue");
    grd.addColorStop(1, "Aqua");


    // Fill with gradient
    ctx.fillStyle = grd;
    ctx.textAlign = "center";
    ctx.fillText("Contact us", 80, canvas.height / 2);
</script>
<hr/>

<section>
    <div id="map" ng-init="loadScript()" style="height : 1000px; width : 500px;"></div>
</section>
<section>
    <div style="max-width: 70%;">
        <!--Search-->
        <div class="search-tbl-header">
            <form name="form" ng-submit="searchBranches()"  role="form" method="POST">
                <table cellpadding="0" cellspacing="0" border="0" class="search-tbl">
                    <thead>
                    <tr>

                        <th class="search-tbl-th">
                            <input type="text" name="city" id="city" placeholder="City" class="form-control" ng-model="branchCtrl.searchBranches.city" />
                        </th>

                        <th class="search-tbl-th">
                            <input type="text" name="description" id="description" placeholder="Address" class="form-control" ng-model="branchCtrl.searchBranches.description" />
                        </th>

                        <th class="search-tbl-th">
                            <input type="text" name="phone" id="phone" placeholder="Phone" class="form-control" ng-model="branchCtrl.searchBranches.phone" />
                        </th>

                        <th class="search-tbl-th">
                            <button type="submit"   class="btn search-btn">Search</button>
                        </th>
                    </tr>
                    </thead>
                </table>
            </form>
        </div>

        <br>
        <!--Table-->
        <div id="usr-tbl-div">
            <table class="table table-hover">
                <thead class="thead-default">
                <tr>
                    <th>
                        City
                    </th>
                    <th>
                        Address
                    </th>

                    <th>
                        Phone
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="branche in appBranches.data | orderBy : 'City' " id="branches">
                    <td>{{ branche.City}}</td>
                    <td>{{ branche.Description }}</td>
                    <td>{{ branche.Phone }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>

