<canvas class="myCanvas" id="myCanvas" width="850" height="50">
    Your browser does not support the canvas element.
</canvas>
<script>
    var canvas = document.getElementById("myCanvas");
    var ctx=canvas.getContext("2d");
    ctx.font = "30px Palatino Linotype";

    // Create gradient
    var grd = ctx.createLinearGradient(0, 500, 1100, 0);
    grd.addColorStop(0, "MidnightBlue");
    //grd.addColorStop(1, "DeepSkyBlue");
    grd.addColorStop(1, "Aqua");


    // Fill with gradient
    ctx.fillStyle = grd;
    ctx.textAlign = "center";
    ctx.fillText("Contact", 80, canvas.height / 2);
</script>
<hr/>


<div class="search-tbl-header">
    <form name="form" ng-submit="searchBranches()"  role="form" method="POST">
        <table cellpadding="0" cellspacing="0" border="0" class="search-tbl">
            <thead>
            <tr>

                <th class="search-tbl-th">
                    <input type="text" name="city" id="city" placeholder="City" class="form-control" ng-model="branchCtrl.searchBranches.city" />
                </th>

                <th class="search-tbl-th">
                    <input type="text" name="description" id="description" placeholder="Address" class="form-control" ng-model="branchCtrl.searchBranches.description" />
                </th>

                <th class="search-tbl-th">
                    <input type="text" name="phone" id="phone" placeholder="Phone" class="form-control" ng-model="branchCtrl.searchBranches.phone" />
                </th>

                <th class="search-tbl-th">
                    <button type="submit"   class="btn btn-primary">Search</button>
                </th>
            </tr>
            </thead>
        </table>
    </form>
</div>

<br>

<div id="usr-tbl-div">
    <table class="table table-hover">
        <thead class="thead-default">
        <tr>
            <th>
                City
            </th>
            <th>
                Address
            </th>

            <th>
                Phone
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="branche in appBranches.data | orderBy : 'City' " id="branches">
            <td>{{ branche.City}}</td>
            <td>{{ branche.Description }}</td>
            <td>{{ branche.Phone }}</td>
        </tr>
        </tbody>
    </table>
</div>

<br><hr><br>

<div id="map" style="height : 1000px; width : 500px;"></div>



<script>
    function initMap() {
        var data = $.getJSON("Branches/GetAll", function(error, data)  {
        })

            .done(function () {
                locations = [];
                for (var i = 0; i < data.responseJSON.length; i++){
                    locations.push({
                        "lat": data.responseJSON[i].Lattitude,
                        "lng": data.responseJSON[i].Longtidute,
                        "name": data.responseJSON[i].City,
                        "zoom": data.responseJSON[i].Zoom,
                        "description": data.responseJSON[i].Description
                    })
                }
                var center = {
                    "lat": locations[0].lat,
                    "lng": locations[0].lng
                }
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8,
                    center: center
                });
                for (i = 0; i < locations.length; i++){
                    var contentString = locations[i].description;
                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });
                    var marker = new google.maps.Marker({
                        position: locations[i],
                        map: map,
                        title: locations[i].name
                    });
                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i].description);
                            infowindow.open(map, marker);
                            var center = {
                                "lat": locations[i].lat,
                                "lng": locations[i].lng
                            }
                            var zoom = locations[i].zoom;
                            map.setCenter(center)
                            map.setZoom(zoom)
                        }
                    })(marker, i));
                }
            })
            .fail(function () {
                console.log("There was a problem loading the beaches locations");
            })
            .always(function () {
            });
    }
</script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzEyJ0k3REy7R0YD5x6ag3o1epGPn8UK4&callback=initMap">
    </script>


