
<div id="userTransactionPieChart"></div>

<script>
    var width = 960,
        height = 350,
        radius = Math.min(width, height) / 2;

    var colors = ["#778ca3", "#a5b1c2", "#8854d0", "#3867d6", "#2d98da", "#0fb9b1", "#20bf6b"];

    var arc = d3.arc()
        .outerRadius(radius - 10)
        .innerRadius(0);

    var labelArc = d3.arc()
        .outerRadius(radius - 40)
        .innerRadius(radius - 40);

    var pie = d3.pie()
        .sort(null)
        .value(function(d) { return d.totalPrice; });

    var svg = d3.select("#userTransactionPieChart").append("svg")
        .attr("width", width+100)
        .attr("height", height+150)
        .append("g")
        .attr("transform", "translate(" + width / 2 + "," + height*1.5/ 2 + ")");

    d3.json("/Transactions/GetGroup", function(error, data) {

        if (data != undefined){
            data = data.filter(function(i) {
                if(i._id.month == 12 ){
                    return i.totalPrice ;}
            });
            data.sort(function(a, b){
                return b.totalPrice-a.totalPrice;
            });

            if (error) throw error;

            var g = svg.selectAll(".arc")
                .data(pie(data))
                .enter().append("g")
                .attr("class", "arc");

            g.append("path")
                .attr("d", arc)
                .style("fill", function(d, i) { return colors[i]; });

            // g.append("text")
            //     .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
            //     .attr("dy", ".35em")
            //     .attr("text-anchor", "middle")
            //     .text(function(d) { return  d.data._id.catagory ; });
            g.append("text")
                .attr("transform", function(d) {
                    var _d = arc.centroid(d);
                    _d[0] *= 2.5;	//multiply by a constant factor
                    _d[1] *= 2.5;	//multiply by a constant factor
                    return "translate(" + _d + ")";
                })
                .text(function(d) { return  d.data._id.catagory ; });
        }


    });

</script>