<div ng-show="!connected" >
    <a href="#!/login">
        <h5>Please login first</h5>
    </a>
</div>
<div ng-show="connected && !haveTransactionData" >
    <h5>You dont have any transactions....</h5>
</div>
<div ng-show="haveTransactionData"></div>

<div class="radarChart"></div>
<script src="javascript/radarChart.js"></script>
<div class="radarChart" style="display: inline-flex; text-align: center; position: center; margin: 0 auto;"></div>

<script>
    var margin = {top: 100, right: 100, bottom: 60, left: 350},
        width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
        height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

    var url_prefix = "/User/GetGroupById/";
    var url_neighbors_prefix = "http://localhost:3001/getNearestNeighbors/";
    var user_id = document.cookie.slice(17, -3);
    var users_id = [];
    var user_data = false;
    var users_data = [];
    $.get(url_prefix + user_id, function(){

    }).done(function (data) {
        if(data.length){
            user_data = data;
        }
        else {
            return;
        }
        $.get(url_neighbors_prefix + user_id, function (data) {

        }).done(function (data) {
            data = data.replace(/\'/g, "\"");
            if(data.length){
                users_id = JSON.parse(data);
            }
            else {
                return;
            }
            //for(var id in users_id){
            //    $.get(url_prefix + users_id[id], function () {
//
            //    }).done(function (data) {
            //        users_data = users_data.concat(data);
            //    });
            //}
            $.get(url_prefix + users_id[0], function () {

            }).done(function (response) {
                users_data = response;
                var d = new Date();
                var month = d.getMonth();
                var year = d.getFullYear();
                var all = [];
                var all_categories = [];
                all = all.concat(user_data);
                all = all.concat(users_data);
                user_data = user_data.filter(function (i) {
                    if (i._id.month === month && i._id.year === year) {
                        return i.totalPrice;
                    }
                });
                users_data = users_data.filter(function (i) {
                    if (i._id.month === month && i._id.year === year) {
                        return i.totalPrice;
                    }
                });
                all = all.filter(function (i) {
                    if (i._id.month === month && i._id.year === year) {
                        return i.totalPrice;
                    }
                });
                all.forEach(function (element) {
                    all_categories.push(element._id.category);
                });
                all_categories = Array.from(new Set(all_categories));

                var data = [
                    {
                        name: "You",
                        axes: []
                    },
                    {
                        name: "People like you",
                        axes: []
                    }
                ];
                user_data.forEach(function (element) {
                    data[0]['axes'].push({axis : element._id.category, value: element.totalPrice})
                });
                users_data.forEach(function (element) {
                    data[1]['axes'].push({axis : element._id.category, value: element.totalPrice})
                });
                all_categories.forEach(function (element) {
                    if(!data[0]['axes'].some(e => e.axis === element)){
                        data[0]['axes'].push({axis : element, value: 0});
                    }
                    if(!data[0]['axes'].some(e => e.axis === element)){
                        data[1]['axes'].push({axis : element, value: 0});
                    }
                });
                console.error(data);
                var radarChartOptions = {
                    w: 290*2,
                    h: 350*2,
                    margin: margin,
                    levels: 5,
                    roundStrokes: false,
                    color: d3.scaleOrdinal(d3.schemeCategory10).range(["#26AF32", "#762712"]),
                    format: '.0f',
                    legend: { title: 'Spending by category', translateX: 100, translateY: 40 },
                    factor: 1,
                    factorLegend: .85,
                    maxValue: 0,
                    radians: 2 * Math.PI,
                    opacityArea: 0.5,
                    ToRight: 5,
                    TranslateX: 80,
                    TranslateY: 30,
                    ExtraWidthX: 100,
                    ExtraWidthY: 100,
                };

                // Draw the chart, get a reference the created svg element :
                let svg_radar1 = RadarChart(".radarChart", data, radarChartOptions);


            });
        });
    });


</script>