<div class="col-md-6 col-md-offset-3" id="center-div">
    <h2>Register</h2>
    <form name="form" ng-submit="userCtrl.createNewUser()"  role="form" method="POST">
        <div class="form-group">
            <label >First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="userCtrl.user.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group">
            <label >Last name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="userCtrl.user.lastName" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        </div>
        <div class="form-group">
            <label >Email</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="userCtrl.user.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="userCtrl.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" onclick='angular.element(this).scope().createNewUser()' ng-disabled="form.$invalid" class="btn btn-primary">Create</button>
            <a href="#!/branches" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>

