

Users Manager

<hr/>

</br>
<div class="search-tbl-header">
    <table cellpadding="0" cellspacing="0" border="0" class="search-tbl">
        <thead>
        <tr>
            <th class="search-tbl-th"><input ng-model="search.firstName" placeholder="First Name" class="search-box"></th>
            <th class="search-tbl-th"><input ng-model="search.lastName" placeholder="Last Name" class="search-box"></th>
            <th class="search-tbl-th"><input ng-model="search.email" placeholder="Email" class="search-box"></th>
            <th class="search-tbl-th"><input ng-model="search.role" placeholder="Role" class="search-box"></th>
        </tr>
        </thead>
    </table>
</div>

</br>

<div id="usr-tbl-div">
    <table class="table table-hover">
        <thead class="thead-default">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Birth Date
            </th>
            <th>
                Gender
            </th>
            <th>
                Income
            </th>
            <th>
                Marital Status
            </th>
            <th>
                Kids
            </th>
            <th>
                Zone
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th>

            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in appUsers.data |  orderBy : 'firstName' | filter:search:strict" id="users">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.birthDate | date:"dd/MM/y" }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.income }}</td>
            <td>{{ user.maritalStatus }}</td>
            <td>{{ user.kids }}</td>
            <td>{{ user.zone }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td><button type="button"
                        class="delete"
                        ng-click="deleteUser(user._id)"
                        ng-show="!inactive">Delete</button> </td>
        </tr>
        </tbody>
    </table>

</div>

