<div ng-show="connected">

    </br>
    <div class="search-tbl-header">
        <table cellpadding="0" cellspacing="0" border="0" class="search-tbl">
            <thead>
            <tr>
                <th class="search-tbl-th"><input ng-model="search.catagory" placeholder="catagory" class="search-box"></th>
                <th class="search-tbl-th"><input ng-model="search.buissness" placeholder="buissness" class="search-box"></th>
                <th class="search-tbl-th"><input ng-model="search.price" placeholder="price" class="search-box"></th>
            </tr>
            </thead>
        </table>
    </div>

    </br>

    <div id="usr-tbl-div">
        <table class="table table-hover">
            <thead class="thead-default">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Catagory
                </th>

                <th>
                    Buissness Name
                </th>
                <th>
                    Price
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in currentUser.data.transactions | orderBy : 'date' | filter:search:strict" id="transactions">
                <td>{{ transaction.date | date:"dd/MM/yy"}}</td>
                <td>{{ transaction.catagory }}</td>
                <td>{{ transaction.buissness }}</td>
                <td>{{ transaction.price }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>