<div class="col-md-6 col-md-offset-3" id="center-div">
    <h2>Update Detail</h2>

    <form name="form" ng-submit="updateThisUser()"  role="form" method="PUT">
        <div class="form-group">
            <label >First name</label>
            <input type="text" name="firstName" id="firstName" ng-init="userCtrl.userToUpdate.firstName=currentUser.firstName" class="form-control" ng-model="userCtrl.userToUpdate.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>

        <div class="form-group">
            <label >Last name</label>
            <input type="text" name="lastName" id="lastName" ng-init="userCtrl.userToUpdate.lastName=currentUser.lastName"  class="form-control" ng-model="userCtrl.userToUpdate.lastName" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        </div>

        <div class="form-group">
            <label >Gender</label>
            <select  class="form-control" ng-init="userCtrl.userToUpdate.gender=currentUser.gender" ng-model="userCtrl.userToUpdate.gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <span ng-show="form.gender.$dirty && form.gender.$error.required" class="help-block">Gender is required</span>
        </div>

        <div class="form-group">
            <label >Monthly income</label>
            <input type="number" name="income" id="income" ng-init="userCtrl.userToUpdate.income=currentUser.income" class="form-control" ng-model="userCtrl.userToUpdate.income" required />
            <span ng-show="form.income.$dirty && form.income.$error.required" class="help-block">Monthly income is required</span>
        </div>

        <div class="form-group">
            <label>Marital Status</label>
            <div>
                <select  class="form-control" ng-init="userCtrl.userToUpdate.maritalStatus=currentUser.maritalStatus" ng-model="userCtrl.userToUpdate.maritalStatus" required>
                    <option value="married">Married</option>
                    <option value="single">Single</option>
                    <option value="divorced">Divorced</option>
                    <option value="widowed">Widowed</option>
                </select>
            </div>
            <span ng-show="form.maritalStatus.$dirty && form.maritalStatus.$error.required" class="help-block">Marital Status is required</span>
        </div>

        <div class="form-group">
            <label>Kids</label>
            <input type="number" name="kids" id="number" ng-init="userCtrl.userToUpdate.kids=currentUser.maritalStatus" class="form-control" min="0" ng-model="userCtrl.userToUpdate.kids" required />
            <span ng-show="form.kids.$dirty && form.kids.$error.required" class="help-block">Number if kids is required</span>
        </div>


        <div class="form-group">
            <label>Living zone</label>
            <div>
                <select  class="form-control" ng-init="userCtrl.userToUpdate.zone=currentUser.zone" ng-model="userCtrl.userToUpdate.zone" required>
                    <option value="north">North</option>
                    <option value="center">Center</option>
                    <option value="south">South</option>
                </select>
            </div>
            <span ng-show="form.zone.$dirty && form.zone.$error.required" class="help-block">Living zone is required</span>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            <a href="#!/home" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>